@model IEnumerable<DIYFilipinoDessert.Models.DessertKit>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (var kit in Model)
    {
        <h1>@kit.Name</h1>
    }
</div>
